# Autosave files
*~

# build
GameServerSync/[Oo]bj/
GameServerSync/[Bb]in/
GameServerSync/packages/
GameServerSync/TestResults/

SpaceMate/[Oo]bj/
SpaceMate/[Bb]in/
SpaceMate/packages/
SpaceMate/TestResults/

SpaceMate.Common/[Oo]bj/
SpaceMate.Common/[Bb]in/
SpaceMate.Common/packages/
SpaceMate.Common/TestResults/

SpaceMate.NetworkClient/[Oo]bj/
SpaceMate.NetworkClient/[Bb]in/
SpaceMate.NetworkClient/packages/
SpaceMate.NetworkClient/TestResults/

[Oo]bj/
[Bb]in/
packages/
TestResults/

# Visual studio
.vs/

# globs
Makefile.in
*.DS_Store
*.sln.cache
*.suo
*.cache
*.pidb
*.userprefs
*.usertasks
config.log
config.make
config.status
aclocal.m4
install-sh
autom4te.cache/
*.user
*.tar.gz
tarballs/
test-results/
Thumbs.db

# Mac bundle stuff
*.dmg
*.app

# resharper
*_Resharper.*
*.Resharper

# dotCover
*.dotCover